@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-2;
}

.bg-primary {
    background: #061d41;
}

.bg-secondary {
    background: #073886;
}

.bg-About {
    background:#043f9f;
}

.bg-Skills{
    background: #073886;;
}

.bg-education{
    background-color: #043f9f;
}

.bg-contact{
    background: #073886;
}

.bg-footer{
    background-color: #043f9f;
}
.mobile-nav {
    @apply fixed top-10 left-0 bg-gray-800 w-full h-1/6;
}

.mobile-nav li {
    @apply w-full h-full text-center border-b-2;
}

.bullet-list {
    list-style-type: disc;
  }
  

html{
    scroll-behavior: smooth;
}